<div (outsideClick)="isExpanded = false">
  <ng-container *ngIf="isMobile;else desktopViewport">
    <nav class="navbar fixed-top navbar-expand bg-body-tertiary p-0">
      <ul class="navbar-nav p-2 ps-xxl-3 pe-xxl-3 fs-4">
        <!-- <li class="nav-item">
          <a routerLinkActive="active" class="nav-link bi bi-house-fill" routerLink=""></a>
        </li> -->

        <ng-container *ngIf="isAuthenticated$ | async; else unAuthenticated">
          <li class="nav-item">
            <a routerLinkActive="active" class="nav-link bi bi-boxes" routerLink="exchange"></a>
          </li>
          <li class="nav-item ms-3" *ngIf="canPostFreight">
            <a routerLinkActive="active" class="nav-link bi bi-plus-circle-fill" routerLink="exchange/create-post"></a>
          </li>
          <li class="nav-item ms-3" *ngIf="canPostFreight">
            <a routerLinkActive="active" class="nav-link bi bi-box-fill" routerLink="my-freights"></a>
          </li>
          <li class="nav-item ms-3">
            <a routerLinkActive="active" class="nav-link bi-building-fill" routerLink="company"></a>
          </li>
          <li class="nav-item ms-3">
            <a routerLinkActive="active" class="nav-link bi bi-file-text-fill" routerLink="contracts"></a>
          </li>
          <li *ngIf="isAdmin" class="nav-item ms-3">
            <a routerLinkActive="active" class="nav-link bi-star-fill" routerLink="admin"></a>
          </li>
          <li class="nav-item d-flex flex-fill align-items-center flex-row-reverse me-2">
            <a class="nav-link bi bi-search" (click)="openSearch = true" (keyup.enter)="openSearch = true" tabindex="0"></a>
            <search-post-mobile *ngIf="openSearch" (closeSearch)="openSearch = false"></search-post-mobile>
          </li>

          <div *ngIf="user$ | async as user" class="nav-item profile d-flex align-items-center flex-row-reverse">
            <img (click)="isExpanded = !isExpanded"
                 (keyup.enter)="isExpanded = !isExpanded"
                 tabindex="0"
                 [src]="user.picture" alt="profile picture" />
            <span *ngIf="newNotification$ | async as data "
                  (click)="isExpanded = !isExpanded"
                  (keyup.enter)="isExpanded = !isExpanded"
                  class="alertNotification"
                  tabindex="0">
              <span [@fadeOnOff]="data._id ? 'on' : 'off'">
                <span class="bi bi-bell-fill"></span>
              </span>
            </span>
          </div>
        </ng-container>
        <ng-template #unAuthenticated>
          <div class="flex-fill d-flex align-items-center flex-row-reverse">
            <li class="nav-item">
              <signup-button [stylingClasses]="'btn btn-outline-primary'"></signup-button>
            </li>
            <li class="nav-item">
              <login-button [stylingClasses]="'nav-link cursor-pointer fs-6 me-2'"></login-button>
            </li>
          </div>
        </ng-template>
      </ul>
    </nav>
  </ng-container>

<!-- modularize / make the components more reusable -->

  <ng-template #desktopViewport>
    <nav class="navbar fixed-top navbar-expand bg-body-tertiary p-0">
      <ul class="navbar-nav p-2 ps-xxl-3 pe-xxl-3">
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" routerLink="">Acasa</a>
        </li>

        <ng-container *ngIf="isAuthenticated$ | async; else unAuthenticated">
          <li class="nav-item">
            <a routerLinkActive="active" class="nav-link" routerLink="exchange">Bursa</a>
          </li>
          <li class="nav-item" *ngIf="canPostFreight">
            <a routerLinkActive="active" class="nav-link" routerLink="exchange/create-post">Posteaza marfa</a>
          </li>
          <li class="nav-item" *ngIf="canPostFreight">
            <a routerLinkActive="active" class="nav-link" routerLink="my-freights">Marfurile mele</a>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" class="nav-link" routerLink="company">Companie</a>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" class="nav-link" routerLink="contracts">Contracte</a>
          </li>
          <li *ngIf="isAdmin" class="nav-item">
            <a routerLinkActive="active" class="nav-link" routerLink="admin">Admin</a>
          </li>
          <li class="nav-item d-flex flex-fill align-items-center flex-row-reverse">
            <search-post></search-post>
          </li>

          <div *ngIf="user$ | async as user" class="nav-item profile d-flex align-items-center flex-row-reverse">
            <img (click)="isExpanded = !isExpanded"
                 (keyup.enter)="isExpanded = !isExpanded"
                 [src]="user.picture" alt="profile picture"
                 tabindex="0"/>
            <span *ngIf="newNotification$ | async as data"
                  (click)="isExpanded = !isExpanded"
                  (keyup.enter)="isExpanded = !isExpanded"
                  class="alertNotification"
                  tabindex="0">
              <span [@fadeOnOff]="data._id ? 'on' : 'off'">
                <span class="bi bi-bell-fill"></span>
              </span>
            </span>
          </div>
        </ng-container>
        <ng-template #unAuthenticated>
          <div class="flex-fill d-flex align-items-center flex-row-reverse">
            <li class="nav-item">
              <signup-button [stylingClasses]="'btn btn-outline-primary'"></signup-button>
            </li>
            <li class="nav-item">
              <login-button [stylingClasses]="'nav-link cursor-pointer me-2'"></login-button>
            </li>
          </div>
        </ng-template>
      </ul>
    </nav>
  </ng-template>

<div *ngIf="user$ | async as user"
      [@menuExpandedCollapsed]="isExpanded ? 'expanded' : 'collapsed'"
      class="d-flex flex-column profileMenu pb-4 shadow">
  <li class="item list-unstyled d-flex flex-row align-items-center"
      (click)="isExpanded = false"
      (keyup.enter)="isExpanded = false"
      routerLink="profile"
      tabindex="0">
    <img [src]="user.picture" alt="profile picture" />
    <p class="p-0 m-0 ms-2">{{ user.name }}</p>
  </li>
  <div class="separator"></div>

  <div *ngIf="contractNotifications$ | async as data">
    <li *ngIf="data?.['shipper']?.userId"
        (click)="isExpanded = false;deleteContractNotification()"
        (keyup.enter)="isExpanded = false;deleteContractNotification();router.navigate(['/contracts', data._id])"
        class="item list-unstyled d-flex flex-row align-items-center notification"
        [routerLink]="['/contracts', data._id]"
        tabindex="0">
      <span class="icon" [class.icon_contract_confirmed]="data?.['status'] === 'confirmed'"><span class="bi bi-bell-fill"></span></span>
      <!-- <span *ngIf="data.details" class="p-0 m-0 ms-2">{{ data.details | summary:50 }}</span> -->
      <span *ngIf="data?.['freight_data'].origin" class="p-0 m-0 ms-2">{{ data?.['freight_data'].origin }} <span class="bi bi-arrow-right"></span> {{ data?.['freight_data'].destination }}</span>
      <span class="d-flex flex-fill justify-content-end">
        <button (click)="deleteContractNotification()" (keyup.enter)="deleteContractNotification()" class="btn bi bi-x pe-1" tabindex="0"></button>
      </span>
    </li>
  </div>

  <div *ngIf="exchangeNotifications$ | async as data">
    <li *ngIf="data.fromUser.userId"
        (click)="isExpanded = false;deleteExchangeNotification()"
        (keyup.enter)="isExpanded = false;deleteExchangeNotification();router.navigate(['/exchange', data._id])"
        class="item list-unstyled d-flex flex-row align-items-center notification"
        [routerLink]="['/exchange', data._id]"
        tabindex="0">
      <span class="icon"><span class="bi bi-bell-fill"></span></span>
      <span *ngIf="data.details" class="p-0 m-0 ms-2">{{ data.details | summary:50 }}</span>
      <span *ngIf="!data.details" class="p-0 m-0 ms-2"><strong>{{ data.size.tonnage }}t</strong> Oradea <span class="bi bi-arrow-right"></span> Timisoara</span>
      <span class="d-flex flex-fill justify-content-end">
        <button (click)="deleteExchangeNotification()" (keyup.enter)="deleteExchangeNotification()" class="btn bi bi-x pe-1" tabindex="0"></button>
      </span>
    </li>
  </div>

  <!-- <li class="item list-unstyled d-flex flex-row align-items-center"
      (click)="isExpanded = false"
      (keyup.enter)="isExpanded = false;router.navigate(['form-test'])"
      routerLink="form-test"
      tabindex="0">
    <span class="icon"><span class="bi bi-lightbulb-fill"></span></span>
    <p class="p-0 m-0 ms-2">Form Test</p>
  </li> -->
  <li class="item list-unstyled d-flex flex-row align-items-center"
      (click)="isExpanded = false"
      (keyup.enter)="isExpanded = false;router.navigate(['profile'])"
      routerLink="profile"
      tabindex="0">
    <span class="icon"><span class="bi bi-person-fill"></span></span>
    <p class="p-0 m-0 ms-2">Profilul meu</p>
  </li>
  <li class="item list-unstyled d-flex flex-row align-items-center"
      (click)="isExpanded = false"
      (keyup.enter)="isExpanded = false;router.navigate(['exchange/create-post'])"
      routerLink="exchange/create-post"
      tabindex="0">
    <span class="icon"><span class="bi bi-plus-circle-fill"></span></span>
    <p class="p-0 m-0 ms-2">Posteaza marfa</p>
  </li>
  <li class="item list-unstyled d-flex flex-row align-items-center"
      (click)="isExpanded = false"
      (keyup.enter)="isExpanded = false;router.navigate(['exchange'])"
      routerLink="exchange"
      tabindex="0">
    <span class="icon"><span class="bi bi-boxes"></span></span>
    <p class="p-0 m-0 ms-2">Bursa</p>
  </li>
  <li class="item list-unstyled d-flex flex-row align-items-center"
      (click)="handleLogout()"
      (keyup.enter)="handleLogout()"
      tabindex="-1">
    <span class="icon"><span class="bi bi-door-open-fill"></span></span>
    <p class="p-0 m-0 ms-2">Logout</p>
  </li>
</div>
</div>