@import url('../../../dashboard/components/exchange/exchange.component.scss');

.header {
  height: 60vh;
}

div.postData {
  cursor: pointer;
}

.section {
  margin-top: 4rem;
  position: relative;
  div.data {
    max-width: 30em;
    position: absolute;
  }
  &:nth-of-type(2) {
    text-align: right;
    div.data {
      right: 0;
      top: 16em;
    }
  }
}

.footer {
  margin-top: 600px;
  width: 100%;
  height: 300px;
  border-top: 2px solid rgb(234, 234, 234);
  h4 { margin-top: 3rem }
  a { text-decoration: none }
  div.content {
    margin-left: 10vw;
  }
}