<div class="container card">
  <!--
  <h2 *ngIf="authService.isLoggedIn()" class="card-title">
    {{ authService.currentUser.name }}
  </h2>
-->

  <div class="showEventCode card-body">
    <input class="form-control" #email (keyup)="onKeyUp($event)" placeholder="send $event"/>
    <p class="eventCode">EventCode: <span>{{ eventCode }}</span></p>
    <p *ngIf="name">Hello, <span>{{ name }}</span></p>
  </div>
</div>


  <div class="content-layout">
    <h1 id="page-title" class="content__title">Profile Page</h1>
    <div class="content__body">
      <p id="page-description">
        <span>
          You can use the <strong>ID Token</strong> to get the profile
          information of an authenticated user.
        </span>
        <span>
          <strong>Only authenticated users can access this page.</strong>
        </span>
      </p>

      <ng-container *ngIf="user$ | async as user">
        <div class="profile-grid">
          <div class="profile__header">
            <img [src]="user.picture" alt="Profile" class="profile__avatar" />
            <div class="profile__headline">
              <h2 class="profile__title">{{ user.name }}</h2>
              <span class="profile__description">{{ user.email }}</span>
            </div>
          </div>
          <ng-container *ngIf="code$ | async as code">
            <div class="profile__details">
              {{ code }}
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>



<div *ngIf="notifications$ | async as data" [class]="data.userId ? 'card lastPost' : ''">
  <div *ngIf="data.userId">
    <span>last post</span><button (click)="deleteNotification()" class="btn bi bi-x p-0"></button>
    <a class="card-title" [routerLink]="['/exchange', data._id]">{{ data.title | summary:50 }}</a>
  </div>
</div>