<div class="container card">
  <h2 *ngIf="authService.isLoggedIn()" class="card-title">
    {{ authService.currentUser.name }}
  </h2>

  <div class="showEventCode card-body">
    <input class="form-control" #email (keyup)="onKeyUp($event)" placeholder="send $event"/>
    <p class="eventCode">EventCode: <span>{{ eventCode }}</span></p>
    <p *ngIf="name">Hello, <span>{{ name }}</span></p>
  </div>

</div>

<div *ngIf="notifications$ | async as data" [class]="data.userId ? 'card lastPost' : ''">
  <div *ngIf="data.userId">
    <span>last post</span><button (click)="deleteNotification()" class="btn bi bi-x p-0"></button>
    <a class="card-title" [routerLink]="['/exchange', data.id]">{{ data.title | summary:50 }}</a>
  </div>
</div>