@import url('../../../shared/styles/exchange-list.style.scss');

.backgroundImage {
  position: absolute;
  top: 0rem;
  right: 0rem;
  z-index: -1000;
  opacity: .6
}

.header {
  height: 60vh;
  // color: white;
  // background-color: rgb(253, 253, 253);
  padding-top: 1rem;
  p { max-width: 30em }
  a {
    text-decoration: none;
    &:hover { opacity: .8 }
  }
}

.section {
  margin-top: 4rem;
  position: relative;
  div.data {
    max-width: 30em;
    position: absolute;
  }
  &:nth-of-type(2) {
    text-align: right;
    div.data {
      right: 0;
      top: 16em;
    }
  }
}

.footer {
  margin-top: 600px;
  width: 100%;
  height: 300px;
  border-top: 2px solid rgb(234, 234, 234);
  div.content {
    height: 100%;
    margin-left: 10vw;
    position: relative;
    h4 { margin-top: 3rem }
    a { text-decoration: none }
    p.copyright {
      position: absolute;
      bottom: 10px;
    }
  }
}