div.container {
  max-width: 992px;
}

.title {
  // background-color: rgba(128, 128, 128, 0.05);
  border-bottom: none;
  font-size: large;
  font-weight: bold;
  word-wrap: anywhere;
}

.popUpAlert {
  background-color: rgba(24, 24, 24, 0.609);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}

.popUpAlertCardContainer {
  margin-top: 4rem;
  .card {
    max-width: 30rem;
    height: 12rem;
  }
}


.userName {
  line-height: 32px;
  height: 32px;
}

img {
  max-width: 1.4rem;
  border-radius: 50%;
}


@media only screen and (max-width: 769px) {
  .fromUser {
    font-size: 12px;
  }

  .popUpAlertCardContainer {
    margin-top: 5rem;
  }
}