<not-found *ngIf="singlePostError"></not-found>

<div class="container" *ngIf="singlePost$ | async as data">

  <div class="popUpAlert" *ngIf="popUpAlert">
    <div class="container popUpAlertCardContainer" (outsideClick)="!postDeleted ? popUpAlert = false : null">
      <div class="card p-4 pt-2" *ngIf="deleteAlert">
        <p class="fw-normal">Are you sure you want to <strong class="fw-bolder">delete this post?</strong></p>
        <button (click)="popUpAlert = false" class="btn btn-primary">Cancel</button>
        <button (click)="deletePost(data._id)" class="btn btn-outline-secondary mt-3" style="width: 25%">delete</button>
      </div>
      <div class="card justify-content-end" [@postDeleted]="postDeleted ? 'on' : 'off'">
        <p class="fs-4 mb-3 ms-4">Post deleted <i class="bi bi-check-circle-fill"></i></p>
      </div>
    </div>
  </div>


  <ul class="list-group" *ngIf="data._id">
    <li class="list-group-item title d-flex align-items-center">
      <button *ngIf="data.fromUser.userId == userId" (click)="popUpAlert = true;deleteAlert = true;" class="btn bi bi-x p-0"></button>
      <span class="ms-3 flex-fill">location hard coded until google maps api</span>
      <button
        data-action="share/whatsapp/share" (click)="share('whatsapp')"
        class="btn bi bi-whatsapp p-0 ms-2">
      </button>
    </li>
    <li class="list-group-item">{{ data.details }}</li>
    <li class="list-group-item d-flex align-items-center fromUser">
      <div class="d-flex flex-fill align-items-center">
        <img [src]="data.fromUser.picture" alt="profile picture" />
        <span class="userName ps-1">{{ data.fromUser.name }}</span>
      </div>
      <span class="createdAt text-black-50">{{ data.createdAt | date:"medium" }}</span>
    </li>
  </ul>
</div>