<not-found *ngIf="singlePostError"></not-found>

<div class="container" *ngIf="singlePost$ | async as data">
  <ul class="list-group" *ngIf="data._id">
    <li class="list-group-item title d-flex align-items-center">
      <span class="flex-fill">{{ data.title }}</span>
      <button
        data-action="share/whatsapp/share" (click)="share('whatsapp')"
        class="btn bi bi-whatsapp p-0 ms-2">
      </button>
    </li>
    <li class="list-group-item">{{ data.body }}</li>
    <li class="list-group-item d-flex align-items-center fromUser">
      <div class="d-flex flex-fill align-items-center">
        <img [src]="data.fromUser.picture" alt="profile picture" />
        <span class="userName ps-1">{{ data.fromUser.name }}</span>
      </div>
      <span class="createdAt text-black-50">{{ data.createdAt | date:"medium" }}</span>
    </li>
  </ul>
</div>