#outside {
  background-color: rgba(44, 44, 44, 0.536);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1020;
}

.outsideOpen {

}

.alert-success {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.userName {
  line-height: 32px;
  height: 32px;
}

img {
  max-width: 1.4rem;
  border-radius: 50%;
}

.highlightEmployee {
  background-color: rgb(223, 223, 223);
}

div.row.position-absolute {

}

#searchCompany {
  position: relative;
  .apiResponse {
    &:hover {
      background-color: rgb(202, 204, 250);
      cursor: pointer;
    }

    .card-body {
      div.d-flex.align-items-center {
        margin-bottom: -10px;
      }
      .text-secondary {
        font-size: 12px;
        margin-left: 25px;
      }
    }
  }
}