<div id="outside">
  <div id="searchCompany" class="m-2" (outsideClick)="clearSearchReponseSelector()" outsideClick>
    <div class="row">
      <div class="col-12">
        <div class="input-group">
          <input type="text" #freightSearchInput (keydown)="searchReponseSelector($event)" class="form-control" placeholder="search freight by shipper's name" />
            <span class="input-group-text bi bi-search text-secondary"></span>
        </div>
      </div>
    </div>
    <div class="row position-absolute" *ngIf="isSearching">
      <div class="col-12">
        <h4>Searching ... </h4>
      </div>
    </div>
    <div class="row position-absolute">
      <ng-container *ngIf="!apiResponse; else elseTemplate">
        <div class="col-12"></div>
      </ng-container>
      <ng-template #elseTemplate>
        <div *ngFor="let freight of apiResponse;index as i">
          <div (click)="arrowkeyLocation = i;clearSearchReponseSelector()" [routerLink]="'/exchange/' + freight._id" class="apiResponse card"
            [class]="i == arrowkeyLocation ? 'highlightEmployee' : ''">
            <div class="card-body pt-2 pb-2">
              <div class="d-flex align-items-center">
                <span class="userName ps-1"><strong>{{ freight.size.tonnage }}t</strong></span>
                <span class="userName ps-1"> {{ freight.details }}</span>
              </div>
              <span class="text-secondary"> {{ freight.fromUser.email }}</span>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>