button.openFilters {
  width: 8rem;
  .activeFilters {
    font-size: 12px;
  }
}

.filters {
  width: 100%;
  .routeFilter input {
    max-width: 15rem;
  }

  .filtersCategory {
    width: 4rem;
  }
  .sliderStartMeasurementUnit {
    width: 3rem;
    text-align: right;
  }
}

@media only screen and (min-width: 769px) {
  mat-slider {
    width: 15rem;
  }
}