<div class="container">
  <button (click)="isExpanded = !isExpanded" class="btn openFilters"
          [class]="isExpanded? 'btn-outline-secondary bi bi-x' : 'btn-outline-secondary'">
    <span *ngIf="!isExpanded" class="d-flex flex-column">
      <span class="text-dark">filter</span>
      <span class="activeFilters">{{ activeFilters }} active filters</span>
    </span>
  </button>
  <div class="filters mt-2" [@expandedCollapsed]="isExpanded ? 'expanded' : 'collapsed'">
    <div class="d-flex flex-row routeFilter col col-md-8">
      <input
        id="origin-input"
        class="form-control me-2"
        type="text"
        autocomplete="off"
        placeholder="Load city"
        (keyup)="onInputChange($event)"
      />
      <input
        id="destination-input"
        class="form-control ms-2"
        type="text"
        autocomplete="off"
        [placeholder]="destinationPlaceholder"
        (keyup)="onInputChange($event)"
      />
    </div>
    <div class="d-flex flex-column flex-md-row align-items-md-center mt-2">
      <span class="fw-bold filtersCategory">weight</span>
      <div class="d-flex flex-row align-items-center">
        <span class="ms-md-2 sliderStartMeasurementUnit">{{ filters.tonnage[0] }}</span>
        <mat-slider min="0" max="41" discrete class="ms-3 flex-fill">
          <input matSliderStartThumb [(value)]="filters.tonnage[0]">
          <input matSliderEndThumb [(value)]="filters.tonnage[1]">
        </mat-slider>
        <span class="ms-2">{{ filters.tonnage[1] > 40 ? '40t+' : filters.tonnage[1] }}</span>
      </div>
    </div>

    <div class="d-flex flex-column flex-md-row align-items-md-center ">
      <span class="fw-bold filtersCategory">distance</span>
      <div class="d-flex flex-row align-items-center">
        <span class="ms-md-2 sliderStartMeasurementUnit">{{ filters.distance[0] > 1000 ? '1000+' : filters.distance[0] }}</span>
        <mat-slider min="0" max="1100" step="100" discrete class="ms-3 flex-fill">
          <input matSliderStartThumb [(value)]="filters.distance[0]">
          <input matSliderEndThumb [(value)]="filters.distance[1]">
        </mat-slider>
        <span class="ms-2">{{ filters.distance[1] > 1000 ? '1100 km+' : filters.distance[1] }}</span>
      </div>
    </div>
    <div class="mt-2">
      <span class="fw-bold">Required truck </span>
      <div *ngFor="let type of truckTypes;let i = index">
        <div class="form-check mt-2">
          <span class="form-check-label" >{{ type }}</span>
          <input [value]="type" (change)="onCheckChange($event)" type="checkbox" [id]="type" class="form-check-input"/>
        </div>
      </div>
    </div>

    <div class="mt-4">
      <button class="btn btn-primary" (click)="submitPaginationFilters()">apply</button>
      <button class="btn" (click)="resetFilters()">reset filters</button>
    </div>
  </div>
</div>