<div id="getSubscription" class="container">
  <h1 class="mt-4">Selecteaza tipul contului</h1>
  <div class="row row-cols-1 row-cols-md-2 g-2">
    <div *ngFor="let subscription of subscriptionsAvailable | keyvalue: asIsOrder;index as i;key" class="col">
      <div class="card p-3" [ngStyle]="{'background-color': subscription.value.color}">
        <div class="card-body"
             (click)="getSubscription(subscription.key)"
             (keyup.enter)="getSubscription(subscription.key)"
             tabindex="0">
          <h3>{{ subscription.key }}</h3>
          <p>{{ subscription.value.desc }}</p>
        </div>
      </div>
    </div>
  </div>
</div>