@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(253, 253, 253);
}

.form-control.ng-touched.ng-invalid {
  border: 2px solid rgba(255, 0, 0, 0.6);
}