:host > div.container {
  background-color: rgb(228, 228, 228);
  margin-top: 2rem;
}

h2 {
  padding-left: 1rem;
  padding-top: 1rem;
}

input {
  width: 12rem;
}


div.showEventCode {
  margin-top: 2rem;
}

.eventCode {
  margin-top: .5rem;
}

span {
  font-weight: bold;
}