div.container {
  margin-top: 2rem;
  max-width: 769px;
}



ul.list-group {
  a {
    text-decoration: none;
    word-wrap: anywhere;
    margin-left: 2rem;
    color: rgb(128, 128, 128);
    &:hover { color: rgb(0, 0, 0, 0.9) }
  }
}

.even {
  background-color: rgba(128, 128, 128, 0.05);
}

.pagination li a {
  cursor: pointer;
}

@media only screen and (max-width: 769px) {
  ul.list-group {
    div.viewMode {
      margin-left: 1rem;
      a { margin-left: 0 }
    }
  }
}