<div class="container p-0">
  <ul class="nav nav-pills">
    <li class="nav-item"><a class="nav-link" [class.active]="viewMode == ''" (click)="viewMode = ''">Title</a></li>
    <li class="nav-item"><a class="nav-link" [class.active]="viewMode == 'body'" (click)="viewMode = 'body'">Body</a></li>
    <li class="nav-item"><a class="nav-link" [class.active]="viewMode == 'id'" (click)="viewMode = 'id'">UserId</a></li>
  </ul>

  <form [formGroup]="form" (ngSubmit)="createPost(form)" class="card">
    <div class="card-body">
      <div class="form-group">
        <input formControlName="title" id="title" type="text" class="form-control" placeholder="Add a post title">
      </div>
        <br>
      <div class="form-group">
        <input formControlName="body" id="body" type="text" class="form-control" placeholder="Write a post body">
      </div>
    </div>

    <button class="btn btn-primary">Submit</button>
  </form>


  <ul class="list-group">
    <li *ngFor="let post of exchange$ | async; even as isEven, index as i" class="list-group-item d-flex align-items-center" [class.even]="isEven">
      <button (click)="deletePost(post.id)" class="btn bi bi-x p-0"></button>
      <div class="viewMode p-2 flex-fill" [ngSwitch]="viewMode">
        <a [routerLink]="['/exchange', post.id]" *ngSwitchCase="'body'">{{ post.body | summary:60 }}</a>
        <a [routerLink]="['/exchange', post.id]" *ngSwitchCase="'id'">{{ post.userId }}</a>
        <a [routerLink]="['/exchange', post.id]" *ngSwitchDefault>{{ post.title }}</a>
      </div>
      <favorite [isLiked]="post.isLiked" (change)="onFavoriteChanged(post.id, $event)"></favorite>
    </li>
  </ul>
</div>