<div class="container p-0">
  <ul class="nav nav-pills">
    <li class="nav-item"><a class="nav-link" [class.active]="viewMode == ''" (click)="viewMode = ''">Title</a></li>
    <li class="nav-item"><a class="nav-link" [class.active]="viewMode == 'body'" (click)="viewMode = 'body'">Body</a></li>
    <li class="nav-item"><a class="nav-link" [class.active]="viewMode == 'id'" (click)="viewMode = 'id'">UserId</a></li>
  </ul>

  <form [formGroup]="form" (ngSubmit)="createPost(form)" class="card">
    <div class="card-body">
      <div class="form-group">
        <input formControlName="title" id="title" type="text" class="form-control" placeholder="Add a post title">
      </div>
      <form-input-error [control]="title" [controlName]="'title'"></form-input-error> <!-- while writing the input -->
        <br>
      <div class="form-group">
        <input formControlName="body" id="body" type="text" class="form-control" placeholder="Write a post body">
      </div>
      <form-input-error [control]="body" [controlName]="'body'"></form-input-error> <!-- while writing the input -->
    </div>

    <div *ngIf="form.errors" class="alert alert-danger">{{ form.errors }}</div> <!-- after submitting the input -->

    <button class="btn btn-primary">Submit</button>
  </form>


  <ul class="list-group">
    <li *ngFor="let post of exchange$ | async; even as isEven, index as i" class="list-group-item d-flex align-items-center" [class.even]="isEven">
      <button (click)="deletePost(post._id)" class="btn bi bi-x p-0"></button>
      <div class="viewMode p-2 flex-fill" [ngSwitch]="viewMode">
        <a [routerLink]="['/exchange', post._id]" *ngSwitchCase="'body'">{{ post.body | summary:60 }}</a>
        <a [routerLink]="['/exchange', post._id]" *ngSwitchCase="'id'">{{ post.userId }}</a>
        <a [routerLink]="['/exchange', post._id]" *ngSwitchDefault>{{ post.title }}</a>
      </div>
      <favorite [isLiked]="post.isLiked" (change)="onFavoriteChanged(post._id, $event)"></favorite>
    </li>
  </ul>

  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a [class.disabled]="(currentPage$ | async)?.pageActive == 1" class="page-link" (click)="changePage(1)">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    <li
      *ngFor="let item of [].constructor(pagesToShow);let i = 'index+1'"
       [class.active]="(currentPage$ | async)?.pageActive == i" class="page-item">
      <a class="page-link" (click)="changePage(i)">{{ i }}</a>
    </li>

    <li class="page-item">
      <a [class.disabled]="(currentPage$ | async)?.pageActive == pagesToShow" class="page-link" (click)="changePage(pagesToShow)">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</div>