<ng-container *ngIf="(isAuthor$ | async) === false; else isTheAuthor">
  <div *ngIf="bidsObs$ | async as bid" class="mt-4" [class.markedAsContracted]="(singlePost$ | async)?.markedAsContracted">
    <div *ngIf="bid.length > 0; else placeAnOffer" class="container">
      <h5 class="mb-0">My offer</h5>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let data of bid">
          <div class="row d-flex flex-row align-items-start align-items-md-center" [class]="whoseLowestBid ? 'itsLowestOffer' : ''">
            <div class="col d-flex flex-row align-items-center mt-2 mt-md-0">
              <span *ngIf="reqUserBidPosition" class="fw-bold">{{ reqUserBidPosition }}#</span>
              <img [src]="data.fromUser.picture" alt="profile picture" class="ms-1" />
              <span class="userName ps-1">{{ data.fromUser.name }}</span>
            </div>

            <span *ngIf="singlePost$ | async as postData" class="col">
              <form [formGroup]="form" (ngSubmit)="putBid(form)"
                    class="d-flex flex-column text-end align-items-end w-100
                                  flex-md-row text-md-start align-items-md-center"
                    (outsideClick)="modifyingOffer = false;this.form.reset()">
                <input  formControlName="price" type="number"
                        (focus)="modifyingOffer = true;this.form.controls.price.setValue(data.price)"
                        (keyup)="setLiveEuroKm()"
                        class="form-control modifyOffer no-spinner"
                        [placeholder]="data.price + ' euro'">
                <div id="bid-tooltip" class="bid-tooltip" style="display: none;">
                  {{ liveEuroKm }} EUR/km
                </div>
                <button *ngIf="modifyingOffer" class="btn btn-outline-primary" style="line-height: 1rem;">Submit</button>
                <span *ngIf="!modifyingOffer" class="text-secondary ms-md-2">({{ (data.price/postData.distance).toFixed(2) }} EUR/km)</span>
              </form>
            </span>

            <span class="col-12 col-md flex-grow-1 createdAt text-black-50 d-flex flex-row align-items-center">
              {{ data.createdAt | date: 'd.M.yyyy'}} -
              {{ data.createdAt | postExpireDate: data.valability | date: 'd.M.yyyy' }}
              <span class="d-flex flex-fill justify-content-end">
                <button (click)="deleteAlert = true" class="btn bi bi-x p-0 ms-2"></button>
              </span>
            </span>
          </div>
          <div *ngIf="deleteAlert" class="bidDeleteAlert position-absolute end-0 d-flex justify-content-center" (outsideClick)="deleteAlert = false">
            <div class="card p-4 pt-2" >
              <p >Are you sure you want to <strong class="fw-bolder">delete this bid?</strong></p>
              <button (click)="deleteAlert = false" class="btn btn-primary">Cancel</button>
              <button *ngIf="data._id" (click)="deleteBid(data._id)" class="btn btn-outline-secondary mt-3" style="width: 6rem">delete</button>
            </div>
          </div>
        </li>
        <li *ngIf="!whoseLowestBid" class="list-group-item">
          <div class="row d-flex flex-row align-items-center smallMobile">
            <div class="col d-flex flex-row align-items-center text-secondary">
              lowest offer
            </div>
            <span class="col text-end text-md-start">
              <div class="d-flex flex-row align-items-center">
                <span class="lowestOffer text-secondary">{{ lowestBid.price }} euro</span>
              </div>
            </span>
            <span class="col-12 col-md"></span>
          </div>
        </li>
      </ul>
    </div>
    <ng-template #placeAnOffer>
      <div *ngIf="haveBiddingPermission" class="container">
        <h5 id="cevatitle" class="mb-0">Place an offer</h5>
        <form [formGroup]="form" (ngSubmit)="putBid(form)" class="">
          <input formControlName="price" id="askingPrice"
                 (input)="setLiveEuroKm()" (keyup)="setLiveEuroKm()" type="number"
                 class="form-control" placeholder="asking price">
          <div id="bid-tooltip" class="bid-tooltip" style="display: none;">
            {{ liveEuroKm }} EUR/km
          </div>

            <div class="form-group d-flex flex-row align-items-center col-3 mt-2"> <!-- valability -->
              <select formControlName="valability" class="form-select requiredInput" id="valability" style="width: 10rem;">
                <option value="1days">1 day</option>
                <option value="3days">3 days</option>
                <option value="7days">7 days</option>
                <option value="14days">14 days</option>
                <option value="30days">Max. (1 month)</option>
              </select>
              <div class="input-group-text" style="width: 8rem;">valability</div>
            </div>

          <button class="btn btn-primary mt-2">Submit</button>
        </form>
      </div>
    </ng-template>
  </div>
</ng-container>
<ng-template #isTheAuthor>
  <!-- List available bids -->
  <div class="container mt-4">
    <h5 class="mb-0" *ngIf="bidsObs$ | async">Carriers' offers</h5>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let data of bidsObs$ | async; index as dataIndex">
          <div class="row d-flex flex-row align-items-start align-items-md-center">
            <div class="col d-flex flex-row align-items-center mt-2 mt-md-0">
              <img [src]="data.fromUser.picture" alt="profile picture" />
              <span class="userName ps-1">{{ data.fromUser.name }}</span>
            </div>

            <span *ngIf="singlePost$ | async as postData" class="col">
              <form  *ngIf="forms_negotiateOffer.controls[dataIndex]"
                      [formGroup]="forms_negotiateOffer.controls[dataIndex]"
                      (ngSubmit)="negotiateBid(forms_negotiateOffer.controls[dataIndex], data._id)"
                      class="d-flex flex-column text-end align-items-end w-100
                                    flex-md-row text-md-start align-items-md-center"
                      (outsideClick)="negotiatingOffer[dataIndex] = false;this.forms_negotiateOffer.controls[dataIndex].reset()">
                <input  formControlName="price" type="number"
                        (focus)="negotiatingOffer[dataIndex] = true;this.forms_negotiateOffer.controls[dataIndex].controls.price.setValue(data.price)"
                        (keyup)="setLiveEuroKm()"
                        class="form-control modifyOffer no-spinner"
                        [placeholder]="data.price + ' euro'">
                <div id="bid-tooltip" class="bid-tooltip" style="display: none;">
                  {{ liveEuroKm }} EUR/km
                </div>
                <button *ngIf="negotiatingOffer[dataIndex] == true" class="btn btn-outline-primary" style="line-height: 1rem;">Negotiate</button>
                <span *ngIf="negotiatingOffer[dataIndex] !== true" class="text-secondary ms-md-2">({{ (data.price/postData.distance).toFixed(2) }} EUR/km)</span>
              </form>
            </span>

            <span class="col-12 col-md mt-2 mt-md-0 createdAt text-black-50 d-flex align-items-center">
              <span>
                {{ data.createdAt | date: 'd.M.yyyy'}} -
                {{ data.createdAt | postExpireDate: data.valability | date: 'd.M.yyyy' }}
              </span>
            <span class="d-flex flex-fill justify-content-end">
              <button (click)="acceptingBid(data)" class="btn btn-outline-secondary" [disabled]="(isAuthenticated$ | async) === false" style="line-height: 1rem;">Accept</button>
            </span>
          </span>
          </div>
        </li>
        <li *ngIf="(bidsObs$ | async)?.length === 0" class="list-group-item">
          <div class="row d-flex flex-row align-items-center">
            <div class="col d-flex flex-row align-items-center text-secondary">
              no offers
            </div>
            <span class="col text-end text-md-start">
              <div class="d-flex flex-row align-items-center">
                <span class="lowestOffer text-secondary"> euro</span>
              </div>
            </span>
            <span class="col-12 col-md"></span>
          </div>
        </li>
      </ul>
  </div>

  <!-- Accepting the bid -->
  <div [style.display]="acceptingTheBid ? 'block' : 'none'" class="alertOverlay">
    <div class="acceptingTheBid d-flex justify-content-center" >
      <div class="card" (outsideClick)="acceptingTheBid = undefined">
        <div id="mapControls">
          <span id="originOutput" class="controls"></span>
          <span id="destinationOutput" class="controls"></span>
          <div id="distance-priceOutput" class="controls d-flex flex-row">
            <span id="distance"></span>
            <span id="pricePerKm" class="text-secondary ms-2"></span>
            <span></span>
          </div>
        </div>
        <div class="container" fluid="sm" id="map"></div>

        <div *ngIf="singlePost$ | async as postData" class="p-2 pb-4 p-md-4 pt-md-2">
          <div class="d-flex align-items-center mb-2">
            <img [src]="acceptingTheBid?.fromUser?.picture" alt="profile picture" class="acceptingTheBidImage"/>
            <span class="ms-2">
              <span class="fw-bold text-secondary ">{{ acceptingTheBid?.fromUser?.name }}</span>
                <br>
              <span class="fw-normal text-secondary ">{{ acceptingTheBid?.fromUser?.email }}</span>
                <br>
              <span class="fw-normal text-secondary ">{{ acceptingTheBid?.fromUser?.['phoneNumber'] }}</span>
            </span>
          </div>

          <p class="fw-bold mb-2">
            Cargo Description: <span class="fw-normal text-secondary ">{{ postData.details }}</span>
          </p>
          <p class="fw-bold mb-2">
            Weight: <span class="fw-normal text-secondary ">{{ postData.size.tonnage }}t / kilograms</span>
          </p>
          <p class="fw-bold mb-2">
            Truckload regime: <span class="fw-normal text-secondary ">{{ postData.truck.regime }}</span>
          </p>
          <p class="fw-bold d-flex mb-2">
            Freight Charges:
            <span class="d-flex">
              <span class="fw-normal text-secondary ms-1">{{ acceptingTheBid?.price }} EUR</span>
              <span class="fw-normal text-secondary ms-1">({{ acceptingTheBid ? (acceptingTheBid.price/postData.distance).toFixed(2) : 0 }} EUR/km)</span>
            </span>
          </p>
          <div class="d-flex flex-row mt-2">
            <button (click)="createContract(acceptingTheBid?._id)" class="col me-1 btn btn-primary">Accept</button>
            <button (click)="acceptingTheBid = undefined" class="col ms-1 btn btn-outline-secondary">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div *ngIf="deleteAlert" class="alertOverlay"></div>